streamlit==1.29.0
opencv-python==4.9.0.80
tensorflow==2.16.1
protobuf==3.20.3  # Must match TF version
scikit-learn==1.4.2
joblib==1.3.2
numpy==1.26.4
h5py==3.10.0  # Required for model loading
